/* Basic Style */
body {
    background-color: #f8f8f8;
    color: #333;
    font-family: Lato, sans-serif;
}

.header {
    width: 500px;
    margin: 0 auto;
    display: block;
    text-align: right;
}

.header__img {
    width: 100%;
}

.header__info {
    font-family: fantasy, cursive;
}

@media (max-width:768px) {

    .header { 
        text-align: center;
    }

}

.todo__container {
    display: block;
    width: 500px;
    margin: 0 auto 0;
}

.todo__new-entry,
.todo__task, 
.todo__text {
    width: 56%;
    display: inline-block;
    flex-grow: 1;
}

.todo__new-wrapper {
    display: flex;
}

.todo__list {
    margin: 0;
    padding: 0px;
}

.todo__item, 
.todo__title {
    list-style: none;
}

input,
button {
    outline: none;
}

.todo__edit, 
.todo__delete, 
.todo__add-btn {
    background: none;
    border: 0px;
    color: #888;
    font-size: 15px;
    width: 60px;
    font-family: Lato, sans-serif;
    cursor: pointer;
}

.todo__edit:hover, 
.todo__delete:hover, 
.todo__add-btn:hover {
    color: #3a3A3a;
}

/* Heading */
.todo__title, 
.todo__new-text {
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
}

.todo__task, 
.todo__new-entry {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 21px;
    padding: 0 9px;
    border: 1px solid #dDd;
    background: #FFF;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
}

.todo__task:focus, 
.todo__new-entry:focus {
    color: #333;
}

/* New Task */
.todo__new-text {
    display: block;
    margin: 0 0 20px;
}

.todo__new-entry {
    width: 318px;
}

/* Task list */
.todo__item {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo__checkbox, 
.todo__text, 
.todo__task, 
.todo__edit, 
.todo__delete {
    vertical-align: middle;
}

.todo__checkbox {
    margin: 0 10px;
}

.todo__text {
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 18px;
    width: 226px;
}

.todo__task {
    width: 226px;
}

.todo__delete-img {
    height: 2em;
    transform: rotateZ(45deg);
    transition: transform 200ms ease-in;
}

.todo__delete-img:hover {
    transform: rotateZ(0);
}

/* Completed */
#completed-tasks .todo__text {
    text-decoration: line-through;
    color: #888;
}

/* Edit Task */
.todo__task {
    display: none;
}

.todo__item_edit .todo__task {
    display: inline-block;
    width: 224px;
}

.todo__item_edit .todo__text {
    display: none;
}